div.footer_cat
	div.group
		h3.footer_info Фетч
		p 
			a(href="#" class="group_link") Магазин
		p 
			a(href="#" class="group_link") Блог
		p 
			a(href="#" class="group_link") Доставка и оплата
		div.contact 
			p.mail
				a(href="#" class="mail") shop@fetch.ru
			p.number 8 800 912-11-42
			p.call_free Звонок бесплатный
	div.group
		h3 
			a(href="#") Для мужчин
		p 
			a(href="#" class="group_link") Верхняя одежда
		p 
			a(href="#" class="group_link") Рубашки и поло
		p
			a(href="#" class="group_link") Трикотаж
		p
			a(href="#" class="group_link") Брюки и джинсы
		p
			a(href="#" class="group_link") Бельё и носки
	div.group
		h3 
			a(href="#") Для женщин
		p 
			a(href="#" class="group_link") Верхняя одежда
		p 
			a(href="#" class="group_link") Рубашки и поло
		p
			a(href="#" class="group_link") Трикотаж
		p
			a(href="#" class="group_link") Платья и юбки
		p
			a(href="#" class="group_link") Бельё и носки
	div.group
		h3 
			a(href="#") Обувь
		p 
			a(href="#" class="group_link") Кроссовки и кеды
		p 
			a(href="#" class="group_link") Ботинки
	div.group
		h3 
			a(href="#") Аксессуары
		p 
			a(href="#" class="group_link") Сумки и рюкзаки
		p 
			a(href="#" class="group_link") Часы
		p
			a(href="#" class="group_link") Бижутерия
		p
			a(href="#" class="group_link") Средства для ухода
	div.group
		h3 
			a(href="#") Скидки
		p 
			a(href="#" class="group_link") Летняя распродажа
		p 
			a(href="#" class="group_link") Коллекция 2018
div.copyright
	p © Фетч-команда, 2019
	a(href="#") Правила обработки персональных данных
	a(href="#") Разработка и поддержка сайта