//- Header.pug
header.header
	div.header_slider
	ul.nav
		li.fetch 
			a(href="index.html") фетч
		li 
			a(href="#") одежда
		li 
			a(href="catalog.html") обувь
		li 
			a(href="#") аксессуары
		li 
			a(href="#") блог
		li 
			a(href="about.html") магазин
		li 
			a(href="#") доставка и оплата
		li.basket
			span.icon(id="quantity_item")
			a(href="checkout.html") оформить заказ
	div.header_slider
		div(class="slide" style="background-image:url(assets/img/slider_hed_1.jpg)")
			div.slider_link 
				a(href="#") Reebok Aztrek Double
		div(class="slide" style="background-image:url(assets/img/slider_hed_2.jpg)")
			div.slider_black_link 
				a(href="#") Nike ACG: навстречу новым открытиям