//- menu_light.pug
ul.nav.light
	li.fetch
		a(href="index.html") фетч
	li 
		a(href="#") одежда
	li 
		a(href="catalog.html") обувь
	li 
		a(href="#") аксессуары
	li 
		a(href="#") блог
	li 
		a(href="about.html") магазин
	li 
		a(href="#") доставка и оплата
	li.basket
		span.icon(id="quantity_item")
		a(href="checkout.html") оформить заказ