@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html {
  @media (max-width: 1199px) {
    background-color: #ffffff;
  }
  background-color: #E5E5E5;
  h1:first-letter {
    text-transform: capitalize;
  }
  h2:first-letter {
    text-transform: capitalize;
  }
  li:first-letter {
    text-transform: capitalize;
  }
}

body {
  font-family: "PT Sans";
  margin: 0 auto;
  a:hover {
    color: #4541FE;
  }
}

.slick-arrow {
  opacity: .8;  
}


.slick-arrow:hover {
  opacity: 1;  
}

.header {
  @media (max-width: 1199px) {
    max-width: 1199px;
  }
  margin: 0 auto;
  max-width: 1440px;
  max-height: 600px;
}

.header_slider {
  @media (max-width: 1199px) {
    max-width: 1199px;
    margin-left: 0px;
    margin-right: 0px;
  }
  margin: 0 auto;
  .slick-arrow.slick-prev{
    margin-top: 300px;
    left: 22px;
  } 
  .slick-arrow.slick-next{
    margin-top: 300px;
    right: 22px;
  }
  .slide.slick-slide{
    @media (max-width: 1199px) {

    }
    width: 1440px;
    height: 600px;
  }
}

.slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

.slick-arrow {
  z-index: 10;
}

.nav {
  @media (max-width: 1199px) {
    display: flex;
    width: 100vw;
    overflow: scroll;
    margin-right: 0;
    margin-left: 0;
    a{
      @media (max-width: 1199px) {
        font-size: 2.7vw;
        line-height: 2vw;
      }
      margin-right: 0;
      margin-left: 0;
    }
  }
  z-index: 10;
  max-width: 1440px;
  width: 100%;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 16px;
  a {
    color: #000000;
  }
  li {
     @media (max-width: 1199px) {
      margin-left: -8px;
    }
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-right: 20px;
    border-bottom: 1px solid currentColor;
    vertical-align: middle;
    line-height: 0.85;
    color: #000000;
  }
  .fetch {
    @media (max-width: 1199px) {
      margin-left: 18px;
    }
    margin-left: 150px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    border-bottom: none;
    margin-right: 40px;
    a{
      @media (max-width: 1199px) {
        font-size: 4vw;
        line-height: 4vw;
      }
      text-decoration-line: none;
    }
  }

  .basket {
    @media (max-width: 1199px) {
      margin-left: 12px;
      float: right;
      text-align: center;
    }
    border-bottom: none;
    margin-left: 361px;
    a {
      @media (max-width: 1199px) {
        font-size: 3vw;
        font-weight: bold;
      }
    }    
  }

  .icon {
    background: url("../assets/img/cart.png") no-repeat;
    //padding-left: 18px;
    border-bottom: none;
    padding-left: 22px;
    vertical-align: bottom;
  }
}

.light {
  background-color: white;
}

.slider_link {
  @media (max-width: 1199px) {
    margin-bottom: 32px;
    text-align: center;
    margin-left: 32px;
  }
  margin-top: 362px;
  margin-bottom: 72px;
  margin-left: 152px;
  max-width: 402px;
  height: 166px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
  text-decoration-line: underline;
  color: #000000;
  a{
    color: #000000;
  }
}

.slider_black_link {
  @media (max-width: 1199px) {
    text-align: center;
  }
  max-width: 576px;
  height: 166px;
  margin-left: 152px;
  margin-top: 362px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
  text-decoration-line: underline;
  color: #FFFFFF;
  a{
    color: #FFFFFF;
  }
}

.middle {
  @media (max-width: 1199px) {
    max-width: 1199px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-content: center;
    grid-auto-rows: 100px; 
  }
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: 312px 529px 553px ;
  grid-template-columns: 100%;
  align-self: center;
  justify-self: center;
  align-items: center;
  background-color: #FFFFFF;
}

.cat {
  @media (max-width: 1199px) {
    max-width: 899px;
    grid-template-columns: 290px 280px;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    text-align: left;
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2;
  }
  display: grid;
  grid-gap: 28px;
  width: 1095px;
  height: 193px;
  margin: 0 auto;
  grid-template-columns: 240px 126px 124px 135px 147px 147px;
}

.info {
  @media (max-width: 1199px) {
    width: 70vw;
    grid-column-start: 1; 
    grid-column-end: 3;
    margin: 0 auto;
    font-size: 4vw;
    line-height: 4vw;
    margin-bottom: 15vw;
    p {
      //padding-bottom: 5px;
      //text-indent: -2em;
    }
  } 
  margin-top: -10px;
  margin-bottom: 100px;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;  
  color: #000000;
  width: 240px;
  height: 193px;
  margin-left: -20px;
  p {
    margin-bottom: 15px;
  }
}

.group {
  @media (max-width: 1199px) {
    margin: 0 auto;
    padding-right: 0px;
  }
  margin-top: -10px;
  h3 {
    @media (max-width: 1199px) {
      font-size: 4vw;
      line-height: 4vw;
    }
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
  a {
    color: #4541FE;
    text-decoration-line: underline;
  }
  a:hover {
    color: black;
  }

  p {
    @media (max-width: 1199px) {
      font-size: 4vw;
      line-height: 5vw;
    }
    margin-left: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: underline;
    margin-bottom: 8px;
  } 
}

.item_top {
  @media (max-width: 1199px) {
    //max-width: 1199px;
    grid-template-columns: 70vw;
    margin-top: 310vw;
    margin-left: 0px;
    margin-right: 0px;
    // align-self: center;
    // justify-self: center;
    // align-items: center;
    // justify-content: center;
    // text-align: center;
  }
  display: grid;
  grid-gap: 0px;
  margin: 0 auto;
  grid-template-columns: 482px 648px;
  background-color: #FFFFFF;
  margin-top: -42px;
  margin-left: 150px;
}

.item_1 {
  @media (max-width: 1199px) {
    margin: 0 auto;
    width: 100vw;
    //max-width: 1199px;
    //margin-left: 96px;
    margin-right: 0px;
  }
  width: 464px;
  height: 320px;
  background: #FFA88C;
  h2 {
    @media (max-width: 1199px) {
      margin-left: 20vw;
    }
    width: 260px;
    height: 41px;
    margin-left: 16px;
    padding-top: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    a {
      color: #000000;
    }
  }
  p {
    @media (max-width: 1199px) {
      margin-left: 20vw;
    }
    z-index: 10;
    position: absolute;
    margin-left: 16px;
    font-style: normal;
    font-weight: normal;
    margin-top: 34px;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
  }
  .item_1_image {
    @media (max-width: 1199px) {
      margin: 0 auto;
      margin-top: 35px;
      margin-bottom: -20px;
    }
    margin-top: 44px;
    width: 442.47px;
    height: 223.69px;
    margin-left: 26px;
    background: url(../assets/img/item_1_image.png);
    background-size: cover;
    transform: rotate(-7.82deg);
  }
}

.item_2 {
  @media (max-width: 1199px) {
    width: 100vw;
    text-align: left;
  }
  width: 464px;
  height: 160px;
  margin-top: 40px;
  background: #7482FF;
  h2 {
    margin-top: -2px;
    width: 322px;
    height: 41px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    text-decoration-line: underline;
    color: #FFFFFF;
    a {
      color: #FFFFFF;
    }
  }

  p {
    width: 280px;
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
}

.item_3 {
  @media (max-width: 1199px) {
    margin: 0 auto;
    margin-top: 16vw;
    width: 100vw;
    padding-left: 12vw;
    h2 {
      max-width: 440px;
      padding-left: 52px;
    }
    p {
      z-index: 10;
      padding-top: 50px;
      padding-left: 75px;
    }
  }
  display: inline-block;
  width: 655px;
  height: 504px;
  background: #FFE9FD;
  margin-top: 4px;
  h2 {
    position: absolute;
    width: 471px;
    height: 41px;
    margin-left: 24px;
    margin-top: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    text-decoration-line: underline;
    color: #000000;
    a {
      color: #000000;
    }
  }
  p {
    position: absolute;
    margin-top: 73px;
    margin-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
  }
  .item_3_image {
    margin-left: 30px;
    margin-top: 5px;
    position: absolute;
    width: 700px;
    height: 560px;
    background: url(../assets/img/sneakers.png);
    background-size: cover;
    z-index: 9;
  }
}

.item_bottom {
  @media (max-width: 1199px) {
    margin-top: 370vw;
    //max-width: 899px;
    background: url(../assets/img/item_bottom.jpg);
    background-size: cover;
    transform: rotate(22.82deg);
    width: 80vw;
    height: 50%;
    opacity: .9;
    h2 {
      position: absolute;
      top: -120px;
      padding-bottom: 0px;
      padding-left: 50px;
      padding-right: 50px;
      transform: rotate(-22.82deg);
    }
    p {
      position: absolute;
      top: 46px;
      padding-left: 98px;
      transform: rotate(-22.82deg);
    }
  }
  margin: 0 auto;
  margin-top: -85px;
  width: 1136px;
  height: 480px;
  background: url(../assets/img/item_bottom.jpg);
  h2 {
    margin-top: 22px;
    margin-left: 16px;
    width: 489px;
    height: 41px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    text-decoration-line: underline;
    color: #000000;
  }
  a {
    color: #000000;
  }

  p {
    margin-left: 16px;
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
  }
}

.footer {
  @media (max-width: 1199px) {
    margin-top: 180vw;
    max-width: 1199px;
    padding-left: 30px;
  }
  max-width: 1440px;
  background-color: #000;
  margin: 0 auto;
  a:hover{
    color: #4541FE;
  }
}

.footer_lite {
  @media (max-width: 1199px) {
    margin-top: 90vw;
  }
  max-width: 1440px;
  background-color: #FBFBFB;
  margin: 0 auto;
  padding-top: 6px;
  a:hover{
    color: #4541FE;
  }
}

.footer_cat {
  @media (max-width: 1199px) {
    height: 100%;
    grid-template-columns: minmax(200px, 340px);
    margin-left: 15px;
    background-color: black;
  }
  display: grid;
  grid-gap: 48px;
  max-width: 1136px;
  height: 300px;
  margin: 0 auto;
  padding-top: 42px;
  margin-top: -8px;
  grid-template-columns: 138px 126px 124px 135px 147px 147px;
  a {
    color: #fff;
  }
  .footer_info {
    color: #fff;
  }
}

.contact {
  @media (max-width: 1199px) {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .mail {
    margin-top: -7px;
  }
  margin-top: 40px;
  .number {
    @media (max-width: 1199px) {
      font-size: 4vw;
      line-height: 5vw;
    }
    margin-top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    text-decoration-line: none;
  }
  .call_free {
    @media (max-width: 1199px) {
      font-size: 3vw;
      line-height: 5vw;
    }
    margin-top: -7px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.75;
  }
}

.copyright {
  @media (max-width: 1199px) {
    max-width: 60vw;
    margin-left: 15px;
    //margin: 0 auto;
    margin-top: 60px;
  }
  max-width: 1136px;
  margin: 0 auto;
  p, a {
    @media (max-width: 1199px) {
      font-size: 3vw;
      line-height: 3vw;
    }
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    margin-right: 10px;
    margin-bottom: 32px;
    text-decoration-line: underline;
    color: #666666;
  }
}

.plate {
  @media (max-width: 1199px) {
    max-width: 1199px;
    h1 {
      margin-left: 17px;
    }
  }
  max-width: 1440px;
  height: 216px;
  background-color: black;
  margin: 0 auto;
}

.plate_header {
  @media (max-width: 1199px) {
    padding-left: 17px;
  }
  padding-left: 152px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: #FFFFFF;
  position: absolute;
  margin-top: 80px;
}

.wrapper {
  @media (max-width: 1199px) {
    max-width: 1199px;
  }
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 66px;
}

.row {
  @media (max-width: 1199px) {
    //max-width: 1199px;
    width: 100vw;
    grid-template-columns: repeat(2, minmax(90px, 290px));
    margin: 0 auto;
    //margin-left: 16px;
    margin-top: -60px;
    justify-content: center;
  }
  @media (max-width: 557px) {
    img {
      max-width: 80%;
      grid-column-gap: 0px;
    }
  }
  @media (max-width: 400px) {
    img {
      max-width: 60%;
      grid-column-gap: -40px;
    }
  }
  margin-top: -60px;
  max-width: 1056px;
  display: grid;
  grid-row-gap: 48px;
  grid-column-gap: 32px;
  margin-left: 152px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1fr);
  div {
    width: 240px;
    height: 344px;
  }
}

.product {
  h3 {
    @media (max-width: 1199px) {
      margin: 0;
      font-size: 2.4vw;
      line-height: 2.4vw;
    }
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: none;
    color: #000000;
    max-width: 100%;
    max-height: 100%
    a {
      color: #000000;
    }
    a:hover {
      color: #4541FE;
    }
  }
  p {
    @media (max-width: 1199px) {
      font-size: 2vw;
      line-height: 3vw;
    }
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
  }
}

.null {
  margin: 0 auto;
}

.pagination {
  @media (max-width: 1199px) {
    margin-top: 40px;
    margin-left: 16px;
  }
  display: inline-block;
  width: 182px;
  height: 52px;
  margin-left: 152px;
  margin-top: 66px;
  margin-bottom: 0px;
  position: relative;
  p{
    @media (max-width: 1199px) {
      font-size: 3vw;
      line-height: 3vw;
      margin-bottom: 20px;
    }
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #666666;
    margin-bottom: 0px;
  }
  a {
     @media (max-width: 1199px) {
      font-size: 3vw;
      line-height: 5vw;
    }
    margin-right: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #666666;
    text-decoration-line: none;
  }
  .pagination_active {
     @media (max-width: 1199px) {
      font-size: 4vw;
      line-height: 5vw;
    }
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin-right: 4px;
  }
}

.item {
  @media (max-width: 1199px) {
    //max-width: 1199px;
    grid-template-columns: repeat(1, minmax(199px, 1199px));
    //margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  margin-left: 152px;
  margin-right: 152px;
  padding-top: 48px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 464px 656px;
}

.item_left {
  @media (max-width: 1199px) {
    //max-width: 1199px;
    order: 0;
    //max-width: 1199px
  }
}

.item_right {
  @media (max-width: 1199px) {
    //max-width: 1199px;
    order: -1;
  }
}

.item_header {
  @media (max-width: 1199px) {
    font-size: 4vw;
    line-height: 4vw;
  }
  margin-top: 32px;
  margin-left: -2px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  p{
    @media (max-width: 1199px) {
      font-size: 3vw;
    }
    margin-top: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
  }
}

.item_right_slider_top {
  @media (max-width: 1199px) {
    margin: 0 auto;
    margin-top: 12px;
    max-width: 100vw;
    margin-bottom: 36vw;
    .slide {
      margin-right: 10px;
      margin-left: 10px;
    } 
  }
  margin-top: 32px;
  max-width: 656px;
  max-height: 656px;
  .slide.slick-slide{
    @media (max-width: 1199px) {
      max-width: 100vw;
      height: 100vw;
    }
    max-width: 100%;
    height: 656px;
  }
}

.item_right_slider_bottom {
  @media (max-width: 1199px) {
    //margin-top: 38px;
    width: 90vw;
    height: 30vw;
  }
  width: 600px;
  height: 152px;
  margin-top: 24px;
  margin-left: -2px;
  .slick-slide {
    @media (max-width: 1199px) {
      margin: 0 auto;
      margin-left: 10px;
      margin-right: 10px;
    }
    margin-right: 17px;
  }
  .slick-current {
    opacity: 0.5;
  }
}

.item_buy {
  @media (max-width: 1199px) {
    width: 100vw;
    height: 50vw;
    font-size: 2vw;
    line-height: 3vw;
  }
  width: 450px;
  height: 267px;
  margin-top: 32px;
  margin-bottom: 32px;      
  margin-left: -26px;
  padding: 14px 0px 0px 24px;
  background-color: #F2F2F2;

  input[type=radio] {
      display: none;
  }

  label {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
    border: 1px solid #F2F2F2;
    background: #FBFBFB;
    border-radius: 8px;
    user-select: none;
  }

  label:hover {
    border: 1px solid #666666;
  }

  input[type=radio]:checked + label {
    background: #666666;
    color: white;
  }

  h4 {
    @media (max-width: 1199px) {
      font-size: 3vw;
      line-height: 3vw;
    }
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
  }

  .color {
    label {
      @media (max-width: 1199px) {
        width: 35vw;
        height: 5vw;
        font-size: 3vw;
        line-height: 3vw;
        padding-top: 8px;
      }
      display: inline-block;
      cursor: pointer;
      width: 145px;
      height: 32px;
      text-align: center;
      margin-top: 12px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      margin-right: 10px;
      line-height: 30px;
      box-sizing: border-box;
      border-radius: 8px;
    }
    h4 {
      margin-right: 60px;
    }
  }
  .size {
    @media (max-width: 1199px) {
      margin: 0;
      margin-top: 40px;
      width: 90vw;
      font-size: 3vw;
      line-height: 3vw;
    }
    label {
      @media (max-width: 1199px) {
        padding-top: 8px;
        width: 10vw;
        height: 5vw;
        font-size: 3vw;
        line-height: 3vw;
      }
      margin-top: 23px;
      display: inline-block;
      cursor: pointer;
      width: 42px;
      height: 32px;
      text-align: center;
      margin-right: 8px;
      line-height: 30px;
      border-radius: 8px;
      box-sizing: border-box;
      user-select: none;
    }
    h4 {
      margin-right: 22px;
    }
  }
  .table{
    @media (max-width: 1199px) {
      margin-top: 70px;
      font-size: 3vw;
    }
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    a {
      color: #000000;
    }
    a:hover {
      color: #4541FE;
    }
  }
  .buy {
    @media (max-width: 1199px) {
      margin: 0 auto;
      margin-top: 40px;
      margin-right: 40px;
      width: 40vw;
      height: 10vw;
      padding-top: 3vw;
    }
    width: 167px;
    height: 42px;
    margin-top: 40px;
    background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
    box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    a {
      @media (max-width: 1199px) {
        font-size: 4vw;
      }
      color: #000000;
      text-decoration-line: none;
    }
  }
  .buy:hover {
    background: linear-gradient(180deg, #F5BF00 0%, #F0AD00 100%);
    border-radius: 4px;
  }
}

.material {
  margin-top: 6px;
  display: inline-block;
  margin-right: 24px;
  margin-left: -2px;
  h3 {
    @media (max-width: 1199px) {
      font-size: 4vw;
      line-height: 4vw;
    }
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;           
    color: #AFAFAF;
    margin-bottom: 0;
  }
  p {
    @media (max-width: 1199px) {
      font-size: 5vw;
      line-height: 6vw;
    }
    margin-top: 1px;
    margin-right: 1px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
}

.country {
  display: inline-block;
  h3 {
    @media (max-width: 1199px) {
      font-size: 4vw;
      line-height: 4vw;
    }
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;           
    color: #AFAFAF;
    margin-bottom: 0;
  }
  p {
     @media (max-width: 1199px) {
      font-size: 5vw;
      line-height: 6vw;
    }
    margin-top: 0;
    //font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
}

.description {
  @media (max-width: 1199px) {
    //margin: 0 auto;
    //width: 100vw;
    //height: 200px;
    font-size: 16px;
    padding-right: 20px;
    margin-bottom: 6vw;
    //max-width: 1199px;
    //margin-right: 40vw;
  }
  margin-top: 33px;
  margin-left: -2px;
  margin-right: 40px;
  h3 {
    @media (max-width: 1199px) {
      font-size: 4vw;
      line-height: 4vw;
    }
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;           
    color: #AFAFAF;
    margin-bottom: 1px;
  }
  p {
    @media (max-width: 1199px) {
      margin-top: 2vw;
      font-size: 3.3vw;
      line-height: 4vw;
    }
    margin-top: 3px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
}

.details {
  @media (max-width: 1199px) {
    margin: 0 auto;
   //margin-top: calc(50vw -35vw);
  }
  margin-top: 30px;
  margin-left: -2px;
  h3 {
    @media (max-width: 1199px) {
      font-size: 3vw;
      line-height: 3vw;
    }
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;           
    color: #AFAFAF;
    margin-bottom: 2px;
  }
  li {
     @media (max-width: 1199px) {
      font-size: 3.5vw;
      line-height: 4vw;
    }
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
  li:before {
    content: "— ";
  }
}

.slider_bottom_header {
  @media (max-width: 1199px) {
    font-size: 4vw;
    line-height: 4vw;
  }
  margin-top: 64px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}

.slider_bottom {
  @media (max-width: 1199px) {
    //max-width: 1199px;
    //margin-left: 10px;
    //margin-right: 101px;
    //margin-right: 25px;
    width: 94vw;
  }
  width: 1150px;
  height: 344px;
  padding-right: 18px;
  padding-left: 28px;
  margin-left: 5px;
  .slick-slide {
    a {
      color: #000000;
    }
    a:hover {
      color: #4541FE;
    }

  }

  .slick-arrow.slick-prev{
    @media (max-width: 1199px) {
      margin-left: 16px;
    }
    margin-top: 172px;
    margin-left: -16px;
  } 
  .slick-arrow.slick-next{
    @media (max-width: 1199px) {
      margin-right: 48px;
    }
    margin-top: 172px;
    margin-right: 14px;
  }
  .slider_item {
    h3 {
      @media (max-width: 1199px) {
        font-size: 2.6vw;
        line-height: 2.4vw;
      }
      margin-top: 6px;
      margin-right: 90px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: #000000;
    }

    a {
      color: black;
    }

    p {
      @media (max-width: 1199px) {
        font-size: 2.3vw;
        margin-bottom: 15px;
      }
      margin-top: 9px;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;
    }
  }
}

.white-popup {
  @media (max-width: 1199px) {
    margin-left: -8px;
    width: 100vw;
    height: 30vw;
  }
  width: 688px;
  height: 198px;
  margin: 0 auto;
  background: #FFFFFF;
  button {
    img {
      width: 20px;
      height: 20px;
    }
    
    float: right;
    background: #FFFFFF;
    border: 0;
    margin-top: 8px;
    margin-right: 8px;
    opacity: .4;
  }
  button:hover {
    opacity: 1;
  }
  h1 {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    margin-left: 24px;
    padding-top: 16px;
    margin-bottom: 24px;
  }
  .popup_table {
    @media (max-width: 1199px) {
      width: 95vw;
      height: 18vw;
      font-size: 4vw;
    }
    width: 640px;
    height: 94px;
    margin-left: 24px;
    padding-bottom: 24px;
    border-collapse: collapse;
    tr{
      text-align: center;
    }
    th, td {
      @media (max-width: 1199px) {
        border: 3px solid #DDDDDD;
      }
      width: 72px;
      height: 32px;
      border: 1px solid black;
      padding: 0px 0px;
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
    }
    th {
      text-align: left;
      text-indent: 8px;
    }
  }
}

.mfp-close {
  @media (max-width: 1199px) {
  }
}


.about {
  @media (max-width: 1199px) {
    margin: 0;
    max-width: 1199px;
    grid-template-columns: minmax(150px, 90vw);
    //margin-left: 16px;
  }
  display: grid;
  margin: 0 auto;
  max-width: 1136px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 464px 586px;
  align-self: center;
  justify-self: center;
  background-color: #FFFFFF;
}

.about_info {
  @media (max-width: 1199px) {
    padding-left: 16px;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 3vw;
    line-height: 4vw;
    word-wrap: break-word;
  }
  margin-top: 46px;
  margin-left: -2px;
  margin-bottom: -8px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  h1 {
    @media (max-width: 1199px) {
      margin-left: 2px;
      font-size: 5vw;
      line-height: 5px;
      margin-bottom: 80px;
    }
    margin-top: 34px;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    color: #000000;
  }
  p {
    @media (max-width: 1199px) {
      margin-top: 20px;
      margin-bottom: 20px;
      word-wrap: break-word;
    }
    margin-bottom: 16px;
  }
}

.about_contact_contact {
   @media (max-width: 1199px) {
    margin: 0;
    width: 100vw;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 10px;
   }
  margin-top: 132px;
  margin-left: 83px;
  width: 586px;
  height: 354px;
  background-color: #F2F2F2;
  .about_contact_margin {
    @media (max-width: 1199px) {
      font-size: 4vw;
      line-height: 5vw;
      word-wrap: break-word;
    }
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-left: 26px;
    padding-right: 120px;
    .number {
      @media (max-width: 1199px) {
        font-size: 4vw;
        line-height: 5vw;
      }
      margin-top: -8px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: #000000;
    }

    .call_free {
      @media (max-width: 1199px) {
        font-size: 4vw;
        line-height: 5vw;
        word-wrap: break-word;
      }
      margin-top: -14px;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 30px;
    }

    .payment {
      margin-top: 14px;
    }
    .dir {
      margin-top: 18px;
    }
    h3 {
      color: #000000;
      padding-top: 20px;
      margin-bottom: 16px;
    }
    p {
      color: #000000;
    }
    a {
      color: #000000;
    }
  }
}

.checkout_header {
  @media (max-width: 1199px) {
    margin: 0;
    margin-left: 16px;
    font-size: 6vw;
    line-height: 6vw;
  }
  padding-top: 32px;
  margin-left: 152px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  .dot {
    color: #DDDDDD;
  }
  a {
    color: black;
  }
}


.checkout_item {
  @media (max-width: 1199px) {
    margin: 0;
    margin-top: 40px;
    grid-template-columns: minmax(150px, 90vw);
  }
  margin-left: 152px;
  margin-right: 152px;
  padding-top: 32px;
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: 464px 650px;
}

.form {
  @media (max-width: 1199px) {
    margin: 0;
    padding: 0;
    margin-top: 80px;
    padding-left: 20px;
    width: 80vw;
    font-size: 3vw;
    line-height: 3vw;
    div {
      p {
        display: block;
        font-size: 3vw;
        line-height: 3vw;
        color: #000000;
      }
    }
  }
  width: 488px;
  height: 470px;
  padding-left: 42px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;

  input::placeholder {
    color: #DDDDDD;
  }
  textarea::placeholder {
    color: #DDDDDD;
  }

  input, textarea {
    @media (max-width: 1199px) {
      font-size: 3vw;
      line-height: 3vw;
      border: 0.5vw solid #DDDDDD;
      border-radius: 1vw;
    }
    padding-left: 12px;
    background: #FBFBFB;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
  }
  p {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
  }
}

.mail {
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #666666;
  }
  input {
    @media (max-width: 1199px) {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 80vw;
      height: 10vw;
    }
    margin-top: -4px;
    margin-left: 38px;
    width: 246px;
    height: 40px;
  }
}

.tel {
  @media (max-width: 1199px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #666666;
  }
  input {
     @media (max-width: 1199px) {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 80vw;
      height: 10vw;
    }
    margin-top: 18px;
    margin-left: 42px;
    width: 242px;
    height: 40px;
  }
}

.city {
  @media (max-width: 1199px) {
    margin-top: 40px;
  }
  margin-top: -8px;
  input {
    @media (max-width: 1199px) {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 80vw;
      height: 10vw;
    }
    width: 244px;
    height: 42px;
    margin-top: 40px;
    margin-left: 50px;
  }
}

.address {
  @media (max-width: 1199px) {
    margin-top: 40px;
  }
  margin-top: -4px;
  p {
    vertical-align: top;
    margin-top: 33px;
  }
  textarea {
    @media (max-width: 1199px) {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 80vw;
      height: 30vw;
    }
    width: 244px;
    height: 78px;
    margin-top: 24px;
    padding-top: 10px;
    margin-left: 48px;
  }
}

.message {
  @media (max-width: 1199px) {
    font-size: 3vw;
  }
  margin-left: 106px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #666666;
}

.form_button {
  @media (max-width: 1199px) {
    margin-top: 50px;
    font-size: 3vw;
    line-height: 3vw;
    width: 100vw;
    height: 30vw;
    a{
      font-size: 3vw;
      line-height: 3vw;
    }
  }
  margin-top: 28px;
  margin-left: -23px;
  width: 450px;
  height: 90px;
  background: #F2F2F2;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  div {
    padding-left: 24px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
  }

  p:first-child {
    margin-top: -3px;
    margin-right: 310px;
    padding-top: 28px;
  }
  p:nth-child(2) {
    @media (max-width: 1199px) {
      margin-bottom: 90px;
    }
  }
}

.button_send {
  @media (max-width: 1199px) {
    position: relative;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 25vw;
    padding-right: 25vw;
    border-radius: 4vw;
    //margin-top: 150px;
    //margin-top: 510px;
  }
  position: absolute;
  margin-top: -37px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
  text-align: center;
  margin-left: 26px;
  height: 39px;
  width: 211px;
  border-radius: 4px;
  background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
  box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
  border-radius: 4px;
  color: #000000;
}

.button_send:hover {
  background: linear-gradient(180deg, #F5BF00 0%, #F0AD00 100%);
  border-radius: 4px;
  color: #000000;
}

.complete{
  margin-left: 152px;
  margin-right: 152px;
  padding-top: 32px;
  margin-bottom: -56px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  h1 {
    margin-top: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 32px;
  }
  p {
    margin-bottom: 16px;
  }
  a {
    color: #000000;
    text-decoration-line: underline;
  }
}

.complete_slider {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  margin-top: 65px;
  margin-bottom: 20px;
}

.quantity {
  position: absolute;
  margin-left: -15px;
  top: 8px;
  width: 16px;
  height: 16px;
  border: 0px solid red;
  border-radius: 50%;
  background: #4541FE;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.checkout_price {
  @media (max-width: 1199px) {
    margin-left: 25px;
    width: 90vw;
    div {
      h3 {
        margin-top: 8px;
        font-size: 3vw;
        line-height: 3vw;
      }
      p {
        font-size: 2.5vw;
        line-height: 3vw;
      }
    }
  }
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  width: 488px;
  height: 160px;
  div {
    @media (max-width: 1199px) {
      width: 35vw;
    }
    width: 190px;
    display: inline-block;
    margin-left: 6px;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
  }

  a {
    white-space: normal;
  }

  p {
    margin-left: 0px;
    //margin-top: 26px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
  }

  img {
    width: 156px;
    height: 150px;
  }
}

.checkout {
  margin-top: 2px;
  margin-bottom: 10px;
  div {
    margin-top: -5px;
    margin-bottom: 15px;
  }
}

.line {
  @media (max-width: 1199px) {
    margin-top: 20px;
    width: 100vw;
  }
  width: 446px;
  border: 1px solid #DDDDDD;
  transform: rotate(-0.12deg);
  margin-left: -18px;
  margin-top: -14px;
  margin-bottom: 14px;
}
.summ {
  @media (max-width: 1199px) {
    text-align: left;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 4vw;
    line-height: 4vw;
    p {
      font-size: 2.3vw;
    }
  }
  margin-top: 0px;
  margin-right: 30px;
  text-align: right;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.delivery {
  @media (max-width: 1199px) {
    margin-top: 15px;
  }
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #666666;
}

.complete {
  @media (max-width: 1199px) {
    margin: 0;
    margin-left: 17px;
    h1 {
      font-size: 5vw;
    }
    p {
      font-size: 4vw;
      line-height: 5vw;
    }
  }
}

.popup_close {
  @media (max-width: 1199px) {
    display: none;
  }
}